{erl_opts, [debug_info, {src_dirs, ["test/unit",
                                    "test/integration",
                                    "test/system"]}]}.
{lfe_first_files, []}.
{deps_dir, ["deps"]}.
{eunit_compile_opts, [
   {src_dirs, ["test/unit",
               "test/integration",
               "test/system",
               "src"]}
  ]}.
{deps, [
   {lfe, ".*", {git, "git://github.com/rvirding/lfe.git", {branch, "develop"}}},
   {'lfe-utils', ".*", {git, "https://github.com/lfe/lfe-utils.git", {branch, "master"}}},
   {lfeunit, ".*", {git, "git://github.com/lfe/lfeunit.git", {branch, "master"}}},
   {elli, ".*", {git, "http://github.com/knutin/elli.git", {branch, "master"}}},
   {erlydtl, ".*", {git, "https://github.com/erlydtl/erlydtl.git", {branch, "master"}}}
  ]}.

{erlydtl_opts, [{out_dir, "ebin"}, {compiler_options, []}, {source_ext, ".html"}]}.